/.ipynb_checkpoints
/.xtboptok
/0
/1
/10
/11
/2
/3
/4
/5
/6
/7
/8
/9
/CH3OH_xtb
/grid.mol
/grid.xyz
/grid_first.mol
/grid_first.xyz
/results_extreme_frequencies_lorenzo_unfixed_grain.txt
/results_lorenzo_unfixed_grain.txt
/sphere.xyz
H2O_xtb/.xtboptok
H2O_xtb/frequencies
H2O_xtb/g98.out
H2O_xtb/gfnff_topo
H2O_xtb/H2O_inp.xyz
H2O_xtb/H2O.xyz
H2O_xtb/hessian
H2O_xtb/output
H2O_xtb/vibspectrum
H2O_xtb/xtbopt.log
test_ase.py
.gitignore
g98.out
gfnff_topo
grain_frequencies.out
hessian
results.txt
vibspectrum
list_discarded.txt
12/.xtboptok
12/BE_12.out
12/BE_12.xyz
12/movie.xyz
12/xtb.inp
12/xtbopt.xyz
12/unfixed-radius/.xtboptok
12/unfixed-radius/BE_12_frequencies.out
12/unfixed-radius/BE_12.out
12/unfixed-radius/BE_12.xyz
12/unfixed-radius/movie.xyz
12/unfixed-radius/xtb.inp
12/unfixed-radius/xtbopt.xyz
12/unfixed-radius/grain_freq/sphere.xyz
12/unfixed-radius/grain_freq/xtb.inp
13/.xtboptok
13/BE_13.out
13/BE_13.xyz
13/movie.xyz
13/xtb.inp
13/xtbopt.xyz
13/unfixed-radius/.xtboptok
13/unfixed-radius/BE_13_frequencies.out
13/unfixed-radius/BE_13.out
13/unfixed-radius/BE_13.xyz
13/unfixed-radius/movie.xyz
13/unfixed-radius/xtb.inp
13/unfixed-radius/xtbopt.xyz
13/unfixed-radius/grain_freq/sphere.xyz
13/unfixed-radius/grain_freq/xtb.inp
14/.xtboptok
14/BE_14.out
14/BE_14.xyz
14/movie.xyz
14/xtb.inp
14/xtbopt.xyz
14/unfixed-radius/.xtboptok
14/unfixed-radius/BE_14_frequencies.out
14/unfixed-radius/BE_14.out
14/unfixed-radius/BE_14.xyz
14/unfixed-radius/movie.xyz
14/unfixed-radius/xtb.inp
14/unfixed-radius/xtbopt.xyz
14/unfixed-radius/grain_freq/sphere.xyz
14/unfixed-radius/grain_freq/xtb.inp
15/.xtboptok
15/BE_15.out
15/BE_15.xyz
15/movie.xyz
15/xtb.inp
15/xtbopt.xyz
15/unfixed-radius/.xtboptok
15/unfixed-radius/BE_15_frequencies.out
15/unfixed-radius/BE_15.out
15/unfixed-radius/BE_15.xyz
15/unfixed-radius/movie.xyz
15/unfixed-radius/xtb.inp
15/unfixed-radius/xtbopt.xyz
15/unfixed-radius/0/.xtboptok
15/unfixed-radius/0/BE_15.out
15/unfixed-radius/0/BE_15.xyz
15/unfixed-radius/0/movie.xyz
15/unfixed-radius/0/xtb.inp
15/unfixed-radius/0/xtbopt.xyz
15/unfixed-radius/grain_freq/sphere.xyz
15/unfixed-radius/grain_freq/xtb.inp
16/.xtboptok
16/BE_16.out
16/BE_16.xyz
16/movie.xyz
16/xtb.inp
16/xtbopt.xyz
16/unfixed-radius/.xtboptok
16/unfixed-radius/BE_16_frequencies.out
16/unfixed-radius/BE_16.out
16/unfixed-radius/BE_16.xyz
16/unfixed-radius/movie.xyz
16/unfixed-radius/xtb.inp
16/unfixed-radius/xtbopt.xyz
16/unfixed-radius/grain_freq/sphere.xyz
16/unfixed-radius/grain_freq/xtb.inp
17/.xtboptok
17/BE_17.out
17/BE_17.xyz
17/movie.xyz
17/xtb.inp
17/xtbopt.xyz
17/unfixed-radius/.xtboptok
17/unfixed-radius/BE_17_frequencies.out
17/unfixed-radius/BE_17.out
17/unfixed-radius/BE_17.xyz
17/unfixed-radius/movie.xyz
17/unfixed-radius/xtb.inp
17/unfixed-radius/xtbopt.xyz
17/unfixed-radius/grain_freq/sphere.xyz
17/unfixed-radius/grain_freq/xtb.inp
18/.xtboptok
18/BE_18.out
18/BE_18.xyz
18/movie.xyz
18/xtb.inp
18/xtbopt.xyz
18/unfixed-radius/.xtboptok
18/unfixed-radius/BE_18_frequencies.out
18/unfixed-radius/BE_18.out
18/unfixed-radius/BE_18.xyz
18/unfixed-radius/movie.xyz
18/unfixed-radius/xtb.inp
18/unfixed-radius/xtbhess.xyz
18/unfixed-radius/xtbopt.xyz
19/.xtboptok
19/BE_19.out
19/BE_19.xyz
19/movie.xyz
19/xtb.inp
19/xtbopt.xyz
19/unfixed-radius/.xtboptok
19/unfixed-radius/BE_19_frequencies.out
19/unfixed-radius/BE_19.out
19/unfixed-radius/BE_19.xyz
19/unfixed-radius/movie.xyz
19/unfixed-radius/xtb.inp
19/unfixed-radius/xtbopt.xyz
19/unfixed-radius/grain_freq/sphere.xyz
19/unfixed-radius/grain_freq/xtb.inp
20/.xtboptok
20/BE_20.out
20/BE_20.xyz
20/movie.xyz
20/xtb.inp
20/xtbopt.xyz
20/unfixed-radius/.xtboptok
20/unfixed-radius/BE_20_frequencies.out
20/unfixed-radius/BE_20.out
20/unfixed-radius/BE_20.xyz
20/unfixed-radius/movie.xyz
20/unfixed-radius/xtb.inp
20/unfixed-radius/xtbopt.xyz
20/unfixed-radius/grain_freq/sphere.xyz
20/unfixed-radius/grain_freq/xtb.inp
21/.xtboptok
21/BE_21.out
21/BE_21.xyz
21/movie.xyz
21/xtb.inp
21/xtbopt.xyz
21/unfixed-radius/.xtboptok
21/unfixed-radius/BE_21_frequencies.out
21/unfixed-radius/BE_21.out
21/unfixed-radius/BE_21.xyz
21/unfixed-radius/movie.xyz
21/unfixed-radius/xtb.inp
21/unfixed-radius/xtbopt.xyz
21/unfixed-radius/0/.xtboptok
21/unfixed-radius/0/BE_21.out
21/unfixed-radius/0/BE_21.xyz
21/unfixed-radius/0/movie.xyz
21/unfixed-radius/0/xtb.inp
21/unfixed-radius/0/xtbopt.xyz
21/unfixed-radius/grain_freq/sphere.xyz
21/unfixed-radius/grain_freq/xtb.inp
22/.xtboptok
22/BE_22.out
22/BE_22.xyz
22/movie.xyz
22/xtb.inp
22/xtbopt.xyz
22/unfixed-radius/.xtboptok
22/unfixed-radius/BE_22_frequencies.out
22/unfixed-radius/BE_22.out
22/unfixed-radius/BE_22.xyz
22/unfixed-radius/movie.xyz
22/unfixed-radius/xtb.inp
22/unfixed-radius/xtbopt.xyz
22/unfixed-radius/0/.xtboptok
22/unfixed-radius/0/BE_22.out
22/unfixed-radius/0/BE_22.xyz
22/unfixed-radius/0/movie.xyz
22/unfixed-radius/0/xtb.inp
22/unfixed-radius/0/xtbopt.xyz
22/unfixed-radius/grain_freq/sphere.xyz
22/unfixed-radius/grain_freq/xtb.inp
23/.xtboptok
23/BE_23.out
23/BE_23.xyz
23/movie.xyz
23/xtb.inp
23/xtbopt.xyz
23/unfixed-radius/.xtboptok
23/unfixed-radius/BE_23_frequencies.out
23/unfixed-radius/BE_23.out
23/unfixed-radius/BE_23.xyz
23/unfixed-radius/movie.xyz
23/unfixed-radius/xtb.inp
23/unfixed-radius/xtbopt.xyz
23/unfixed-radius/grain_freq/sphere.xyz
23/unfixed-radius/grain_freq/xtb.inp
24/.xtboptok
24/BE_24.out
24/BE_24.xyz
24/movie.xyz
24/xtb.inp
24/xtbopt.xyz
24/unfixed-radius/.xtboptok
24/unfixed-radius/BE_24_frequencies.out
24/unfixed-radius/BE_24.out
24/unfixed-radius/BE_24.xyz
24/unfixed-radius/movie.xyz
24/unfixed-radius/xtb.inp
24/unfixed-radius/xtbopt.xyz
24/unfixed-radius/0/.xtboptok
24/unfixed-radius/0/BE_24.out
24/unfixed-radius/0/BE_24.xyz
24/unfixed-radius/0/movie.xyz
24/unfixed-radius/0/xtb.inp
24/unfixed-radius/0/xtbopt.xyz
24/unfixed-radius/1/.xtboptok
24/unfixed-radius/1/BE_24.out
24/unfixed-radius/1/BE_24.xyz
24/unfixed-radius/1/movie.xyz
24/unfixed-radius/1/xtb.inp
24/unfixed-radius/1/xtbopt.xyz
24/unfixed-radius/grain_freq/sphere.xyz
24/unfixed-radius/grain_freq/xtb.inp
25/.xtboptok
25/BE_25.out
25/BE_25.xyz
25/movie.xyz
25/xtb.inp
25/xtbopt.xyz
25/unfixed-radius/.xtboptok
25/unfixed-radius/BE_25_frequencies.out
25/unfixed-radius/BE_25.out
25/unfixed-radius/BE_25.xyz
25/unfixed-radius/movie.xyz
25/unfixed-radius/xtb.inp
25/unfixed-radius/xtbopt.xyz
25/unfixed-radius/grain_freq/sphere.xyz
25/unfixed-radius/grain_freq/xtb.inp
26/.xtboptok
26/BE_26.out
26/BE_26.xyz
26/movie.xyz
26/xtb.inp
26/xtbopt.xyz
26/unfixed-radius/.xtboptok
26/unfixed-radius/BE_26_frequencies.out
26/unfixed-radius/BE_26.out
26/unfixed-radius/BE_26.xyz
26/unfixed-radius/movie.xyz
26/unfixed-radius/xtb.inp
26/unfixed-radius/xtbopt.xyz
26/unfixed-radius/grain_freq/sphere.xyz
26/unfixed-radius/grain_freq/xtb.inp
27/.xtboptok
27/BE_27.out
27/BE_27.xyz
27/movie.xyz
27/xtb.inp
27/xtbopt.xyz
27/unfixed-radius/.xtboptok
27/unfixed-radius/BE_27_frequencies.out
27/unfixed-radius/BE_27.out
27/unfixed-radius/BE_27.xyz
27/unfixed-radius/movie.xyz
27/unfixed-radius/xtb.inp
27/unfixed-radius/xtbopt.xyz
27/unfixed-radius/0/.xtboptok
27/unfixed-radius/0/BE_27.out
27/unfixed-radius/0/BE_27.xyz
27/unfixed-radius/0/movie.xyz
27/unfixed-radius/0/xtb.inp
27/unfixed-radius/0/xtbopt.xyz
27/unfixed-radius/grain_freq/sphere.xyz
27/unfixed-radius/grain_freq/xtb.inp
28/.xtboptok
28/BE_28.out
28/BE_28.xyz
28/movie.xyz
28/xtb.inp
28/xtbopt.xyz
28/unfixed-radius/.xtboptok
28/unfixed-radius/BE_28_frequencies.out
28/unfixed-radius/BE_28.out
28/unfixed-radius/BE_28.xyz
28/unfixed-radius/movie.xyz
28/unfixed-radius/xtb.inp
28/unfixed-radius/xtbopt.xyz
28/unfixed-radius/grain_freq/sphere.xyz
28/unfixed-radius/grain_freq/xtb.inp
29/.xtboptok
29/BE_29.out
29/BE_29.xyz
29/movie.xyz
29/xtb.inp
29/xtbopt.xyz
29/unfixed-radius/.xtboptok
29/unfixed-radius/BE_29_frequencies.out
29/unfixed-radius/BE_29.out
29/unfixed-radius/BE_29.xyz
29/unfixed-radius/movie.xyz
29/unfixed-radius/xtb.inp
29/unfixed-radius/xtbopt.xyz
29/unfixed-radius/0/.xtboptok
29/unfixed-radius/0/BE_29.out
29/unfixed-radius/0/BE_29.xyz
29/unfixed-radius/0/movie.xyz
29/unfixed-radius/0/xtb.inp
29/unfixed-radius/0/xtbopt.xyz
29/unfixed-radius/grain_freq/sphere.xyz
29/unfixed-radius/grain_freq/xtb.inp
30/.xtboptok
30/BE_30.out
30/BE_30.xyz
30/movie.xyz
30/xtb.inp
30/xtbopt.xyz
30/unfixed-radius/.xtboptok
30/unfixed-radius/BE_30_frequencies.out
30/unfixed-radius/BE_30.out
30/unfixed-radius/BE_30.xyz
30/unfixed-radius/movie.xyz
30/unfixed-radius/xtb.inp
30/unfixed-radius/xtbopt.xyz
30/unfixed-radius/grain_freq/sphere.xyz
30/unfixed-radius/grain_freq/xtb.inp
31/.xtboptok
31/BE_31.out
31/BE_31.xyz
31/movie.xyz
31/xtb.inp
31/xtbopt.xyz
31/unfixed-radius/.xtboptok
31/unfixed-radius/BE_31_frequencies.out
31/unfixed-radius/BE_31.out
31/unfixed-radius/BE_31.xyz
31/unfixed-radius/movie.xyz
31/unfixed-radius/xtb.inp
31/unfixed-radius/xtbopt.xyz
31/unfixed-radius/grain_freq/sphere.xyz
31/unfixed-radius/grain_freq/xtb.inp
32/.xtboptok
32/BE_32.out
32/BE_32.xyz
32/movie.xyz
32/xtb.inp
32/xtbopt.xyz
32/unfixed-radius/.xtboptok
32/unfixed-radius/BE_32_frequencies.out
32/unfixed-radius/BE_32.out
32/unfixed-radius/BE_32.xyz
32/unfixed-radius/movie.xyz
32/unfixed-radius/xtb.inp
32/unfixed-radius/xtbopt.xyz
32/unfixed-radius/grain_freq/sphere.xyz
32/unfixed-radius/grain_freq/xtb.inp
33/.xtboptok
33/BE_33.out
33/BE_33.xyz
33/movie.xyz
33/xtb.inp
33/xtbopt.xyz
33/unfixed-radius/.xtboptok
33/unfixed-radius/BE_33_frequencies.out
33/unfixed-radius/BE_33.out
33/unfixed-radius/BE_33.xyz
33/unfixed-radius/movie.xyz
33/unfixed-radius/xtb.inp
33/unfixed-radius/xtbopt.xyz
33/unfixed-radius/grain_freq/sphere.xyz
33/unfixed-radius/grain_freq/xtb.inp
34/.xtboptok
34/BE_34.out
34/BE_34.xyz
34/movie.xyz
34/xtb.inp
34/xtbopt.xyz
34/unfixed-radius/.xtboptok
34/unfixed-radius/BE_34_frequencies.out
34/unfixed-radius/BE_34.out
34/unfixed-radius/BE_34.xyz
34/unfixed-radius/movie.xyz
34/unfixed-radius/xtb.inp
34/unfixed-radius/xtbopt.xyz
34/unfixed-radius/grain_freq/sphere.xyz
34/unfixed-radius/grain_freq/xtb.inp
35/.xtboptok
35/BE_35.out
35/BE_35.xyz
35/movie.xyz
35/xtb.inp
35/xtbopt.xyz
35/unfixed-radius/.xtboptok
35/unfixed-radius/BE_35_frequencies.out
35/unfixed-radius/BE_35.out
35/unfixed-radius/BE_35.xyz
35/unfixed-radius/movie.xyz
35/unfixed-radius/xtb.inp
35/unfixed-radius/xtbopt.xyz
35/unfixed-radius/grain_freq/sphere.xyz
35/unfixed-radius/grain_freq/xtb.inp
36/.xtboptok
36/BE_36.out
36/BE_36.xyz
36/movie.xyz
36/xtb.inp
36/xtbopt.xyz
36/unfixed-radius/.xtboptok
36/unfixed-radius/BE_36_frequencies.out
36/unfixed-radius/BE_36.out
36/unfixed-radius/BE_36.xyz
36/unfixed-radius/movie.xyz
36/unfixed-radius/xtb.inp
36/unfixed-radius/xtbopt.xyz
36/unfixed-radius/grain_freq/sphere.xyz
36/unfixed-radius/grain_freq/xtb.inp
37/.xtboptok
37/BE_37.out
37/BE_37.xyz
37/movie.xyz
37/xtb.inp
37/xtbopt.xyz
37/unfixed-radius/.xtboptok
37/unfixed-radius/BE_37_frequencies.out
37/unfixed-radius/BE_37.out
37/unfixed-radius/BE_37.xyz
37/unfixed-radius/movie.xyz
37/unfixed-radius/xtb.inp
37/unfixed-radius/xtbopt.xyz
37/unfixed-radius/grain_freq/sphere.xyz
37/unfixed-radius/grain_freq/xtb.inp
38/.xtboptok
38/BE_38.out
38/BE_38.xyz
38/movie.xyz
38/xtb.inp
38/xtbopt.xyz
38/unfixed-radius/.xtboptok
38/unfixed-radius/BE_38_frequencies.out
38/unfixed-radius/BE_38.out
38/unfixed-radius/BE_38.xyz
38/unfixed-radius/movie.xyz
38/unfixed-radius/xtb.inp
38/unfixed-radius/xtbopt.xyz
38/unfixed-radius/grain_freq/sphere.xyz
38/unfixed-radius/grain_freq/xtb.inp
39/.xtboptok
39/BE_39.out
39/BE_39.xyz
39/movie.xyz
39/xtb.inp
39/xtbopt.xyz
39/unfixed-radius/.xtboptok
39/unfixed-radius/BE_39_frequencies.out
39/unfixed-radius/BE_39.out
39/unfixed-radius/BE_39.xyz
39/unfixed-radius/movie.xyz
39/unfixed-radius/xtb.inp
39/unfixed-radius/xtbhess.xyz
39/unfixed-radius/xtbopt.xyz
40/.xtboptok
40/BE_40.out
40/BE_40.xyz
40/movie.xyz
40/xtb.inp
40/xtbopt.xyz
40/unfixed-radius/.xtboptok
40/unfixed-radius/BE_40_frequencies.out
40/unfixed-radius/BE_40.out
40/unfixed-radius/BE_40.xyz
40/unfixed-radius/movie.xyz
40/unfixed-radius/xtb.inp
40/unfixed-radius/xtbopt.xyz
40/unfixed-radius/grain_freq/sphere.xyz
40/unfixed-radius/grain_freq/xtb.inp
41/.xtboptok
41/BE_41.out
41/BE_41.xyz
41/movie.xyz
41/xtb.inp
41/xtbopt.xyz
41/unfixed-radius/.xtboptok
41/unfixed-radius/BE_41_frequencies.out
41/unfixed-radius/BE_41.out
41/unfixed-radius/BE_41.xyz
41/unfixed-radius/movie.xyz
41/unfixed-radius/xtb.inp
41/unfixed-radius/xtbopt.xyz
41/unfixed-radius/grain_freq/sphere.xyz
41/unfixed-radius/grain_freq/xtb.inp
test_other.py
