/.ipynb_checkpoints
/.xtboptok
/0
/1
/10
/11
/2
/3
/4
/5
/6
/7
/8
/9
/CH3OH_xtb
/grid.mol
/grid.xyz
/grid_first.mol
/grid_first.xyz
/results_extreme_frequencies_lorenzo_unfixed_grain.txt
/results_lorenzo_unfixed_grain.txt
/sphere.xyz
H2O_xtb/.xtboptok
H2O_xtb/frequencies
H2O_xtb/g98.out
H2O_xtb/gfnff_topo
H2O_xtb/H2O_inp.xyz
H2O_xtb/H2O.xyz
H2O_xtb/hessian
H2O_xtb/output
H2O_xtb/vibspectrum
H2O_xtb/xtbopt.log
